.wrapper
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    padding 50px
    min-height 500px
    +tablet()
        padding 50px 25px 25px
    +mobile()
        padding 80px 0 0
        min-height auto

.not-found
    position absolute
    top 50px
    left 50px
    right 50px
    bottom 50px
    +tablet()
        top 50px
        left 25px
        right 25px
        bottom 25px
    +mobile()
        top 80px
        left 0
        right 0
        bottom 0
    background $laranja
    h1
        position absolute
        white-space nowrap
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        display inline-block
        margin 0
        border 2px solid #fff
        color #fff
        dosis 16 bold
        text-transform uppercase
        padding .5em 1em

#top, #bottom, #left, #right
    background #fff
    position fixed
    z-index 9999
    +mobile()
        display none
#left, #right
    top 0
    bottom 0
    width 50px
    +tablet()
        width 25px
#left
    left 0
    +mobile()
        width 0
#right
    right 0
#top, #bottom
    left 0
    right 0
    height 50px
+tablet()
    #top, #bottom
        height 25px
#top
    top 0
#bottom
    bottom 0

a
    text-decoration none
    color inherit
    transition color .3s

p
    dosis 16
    line-height 1.5

#nprogress
    .bar
        z-index 9999
        background $laranja
    .peg
        display none
    .spinner
        z-index 9999
        +below($tablet)
            display none
    .spinner-icon
        border-top-color $laranja
        border-left-color $laranja
