desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja = #FF3300
$amarelo = #FFC000
$cinza   = #BFBFBF

@import 'https://fonts.googleapis.com/css?family=Dosis:400,700|PT+Sans:400,700';
dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
ptsans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'PT Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
