.conteudo
    padding-bottom 50px
    background $cinza
    min-height 100%
    +tablet()
        padding-bottom 25px
    +mobile()
        padding-bottom 0

.conteudo-index
    display flex
    flex-wrap wrap
    font-size 0
    padding 10px
    padding-right 0
    padding-bottom 0
    .conteudo-thumb
        position relative
        background #fff
        display inline-block
        vertical-align top
        width calc('25% - 10px')
        margin-right 10px
        margin-bottom 10px
        padding 10px
        padding-bottom 75px
        transition background .3s
        +mobile()
            width calc('50% - 10px')
            &:nth-child(2n)
                margin-right 10px
        &:hover
            background $amarelo
        &:nth-child(4n)
            margin-right 10px
        img
            display block
            width 100%
            height auto
        .categoria
            display inline-block
            background $laranja
            dosis 14
            color #fff
            padding 6px 12px
            text-transform uppercase
            margin-bottom 10px
            +mobile()
                dosis 12
                padding 5px 10px
        h2
            dosis 20
            margin 0 0 5px
            padding 0 10px
            +mobile()
                dosis 18
                padding 0
        p
            ptsans 14
            margin 0
            padding 0 10px
            line-height 1.2
            +mobile()
                padding 0
        .informacoes
            position absolute
            right 10px
            bottom 0
            text-align right
            .data
                display inline-block
                background #A3A3A3
                dosis 12
                padding 5px 10px
                color #fff
                +mobile()
                    padding 5px
            .leitura
                display inline-block
                background $img('relogio.png') no-repeat 8px center $amarelo
                dosis 12
                padding 5px 10px
                padding-left 28px
                color #000
                +mobile()
                    padding 5px
                    background-image none

.conteudo-categoria
    clearfix()
    .conteudo-index
        width 80%
        float right
        +above($mobile)
            .conteudo-thumb
                width calc('33.333% - 10px')
        +mobile()
            width 100%

.conteudo-post
    clearfix()
    .post
        width 60%
        float left
        background #fff
        margin 10px 0
        padding 10px
        .embeddedContent
            width 100%
            max-width 100%
            position relative
            padding-bottom 56.25%
            margin 30px 0
            overflow hidden
            height 0
            iframe
                position: absolute
                top 0
                left 0
                width 100%
                height 100%
        .imagem
            position relative
            .informacoes
                position absolute
                right 10px
                bottom 0
                text-align right
                font-size 0
                .data
                    display inline-block
                    background #A3A3A3
                    dosis 12
                    padding 5px 10px
                    color #fff
                    +mobile()
                        padding 5px
                .leitura
                    display inline-block
                    background $img('relogio.png') no-repeat 8px center $amarelo
                    dosis 12
                    padding 5px 10px
                    padding-left 28px
                    color #000
                    +mobile()
                        padding 5px
                        background-image none
            img
                display block
                width 100%
                height auto
        h1
            ptsans 26
            padding 0 20px
            margin .8em 0 .5em
        .post-texto
            padding 0 20px
            img
                display block
                width 100%
            a
                color $laranja
                text-decoration underline
                &:hover
                    text-decoration none
        .categoria
            display inline-block
            background $laranja
            dosis 14
            color #fff
            padding 6px 12px
            text-transform uppercase
            +mobile()
                dosis 12
                padding 5px 10px
        +tablet()
            width calc('80% - 10px')
        +mobile()
            width calc('100% - 20px')
            margin-left 10px
    .conteudo-index
        width 20%
        float right
        +above($tablet)
            .conteudo-thumb
                width 100%
        +tablet()
            width 80%
            padding-left 0
            padding-top 0
            .conteudo-thumb
                width calc('33.333% - 10px')
        +mobile()
            width 100%
            padding-top 0
            .conteudo-thumb
                width 100%

.categorias
    width 20%
    float left
    padding 10px
    clearfix()
    a
        display inline-block
        float left
        clear left
        dosis 14
        color #fff
        padding 6px 12px
        background #000
        text-transform uppercase
        margin-bottom 2px
        transition color .3s, padding .3s
        &:hover
            color $amarelo
        &.active
            background $laranja
            &:hover
                color #fff
    +mobile()
        width 100%
        font-size 0
        a
            float none
            margin-right 4px
            margin-bottom 4px
