.contato
    position relative
    background $amarelo
    min-height 100%
    padding-bottom 50px
    +tablet()
        padding-bottom 25px
    +mobile()
        padding-bottom 0
    clearfix()
    .informacoes
        width 35%
        float right
        padding 32px 32px 90px
        position relative
        +tablet()
            width 50%
        +mobile()
            width 100%
            padding 25px 25px 85px
        .copyright
            display block
            position absolute
            left 0
            padding 0 32px
            bottom 15px
            margin 0
            ptsans 10
            a:hover
                text-decoration underline
            +mobile()
                width 100%
                padding 0 25px
                bottom 20px
                text-align center
                span
                    display block
                    font-size 0
        .telefone
            margin 0 0 30px
            dosis 28
            line-height 1
        .endereco
            margin 0 0 30px
            dosis 16
        #form-contato
            input
            textarea
                +placeholder()
                    color rgba(#000, .6)
                width 100%
                display block
                margin-bottom 3px
                background rgba(#fff, .3)
                outline 0
                border 0
                transition box-shadow .3s
                resize none
                padding 8px
                color #000
                ptsans 16 normal italic
                &:focus
                    box-shadow 0 0 2px $laranja
            textarea
                height 140px
                margin-bottom 4px
            input[type='submit']
                display inline-block
                width auto
                background #000
                ptsans 12 bold
                color #fff
                transition color .3s, padding .3s
                &:hover
                    color $amarelo
                    padding 8px 12px
                &:focus
                    box-shadow none
            .response
                width 100%
                margin 0 0 3px
                height 30px
            #form-contato-response
                display none
                border 1px solid rgba(#000, .5)
                color #000
                padding 10px
                dosis 13
                text-align center
                text-transform uppercase
    .mapa
        position absolute
        width 65%
        height 100%
        top 0
        left 0
        +tablet()
            width 50%
        +mobile()
            position relative
            float left
            width 100%
            height 240px
        iframe
            width 100%
            height 100%

