.home-wrapper
    position absolute
    top 50px
    left 50px
    right 50px
    bottom 50px
    +tablet()
        top 50px
        left 25px
        right 25px
        bottom 25px
    +mobile()
        top 80px
        left 0
        right 0
        bottom 0
.banners
    position relative
    width 100%
    min-height 100%
    .cycle-pager
        position absolute
        width 100%
        height 5px
        text-align center
        left 0
        bottom 35px
        z-index 9999
        +mobile()
            display none
        a
            display inline-block
            height 100%
            width 50px
            border 1px solid #fff
            margin 0 1px
            text-indent -9999px
            transition background .3s
            &.cycle-pager-active
                background #fff
    .slide
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        +mobile()
            min-height 300px
        .texto
            position absolute
            width 100%
            top 50%
            transform translateY(-55%)
            color #fff
            text-align center
            line-height 1
            +below($tablet)
                padding 0 5%
            p
                margin 0 auto
                dosis 32
                line-height 1.2
                +tablet()
                    dosis 28
                +mobile()
                    dosis 24
            .logo-tof
                display inline-block
                width 162px
                height 80px
                background-repeat none
                background-position center
                background-image $img('tof-branco.png')
                margin-bottom 10px
                text-indent -9999px
                +tablet()
                    transform scale(.8, .8)
                +mobile()
                    transform scale(.6, .6)
                    margin-bottom 0
            &.banner-1
                p
                    dosis 42
                    +tablet()
                        dosis 36
                    +mobile()
                        dosis 32
            &.banner-2
                p
                    margin 0 auto
                    max-width 700px
                    +tablet()
                        max-width 85%
            &.banner-3
                position absolute
                width 100%
                bottom 40px
                top auto
                translate none
                +mobile()
                    bottom 25px
                p
                    ptsans 48
                    +tablet()
                        ptsans 42
                    +mobile()
                        ptsans 32
                    strong
                        font-weight 400
                        color $amarelo
