.quem-faz
    display flex
    flex-wrap wrap
    font-size 0
    padding-bottom 50px
    min-height calc('100% + 50px')
    +tablet()
        min-height calc('100% + 25px')
        padding-bottom 25px
    +mobile()
        padding-bottom 0
        display block
        min-height auto
    .socio
        display inline-block
        vertical-align top
        width 33.33%
        background #000
        color #fff
        .texto
            padding 20px
        img
            display block
            max-width 100%
        h2
            dosis 24
            margin 0 0 .3em
        p
            ptsans 14
            margin 0
        +tablet()
            width 100%
        +mobile()
            display block
            width 100%
        &:nth-child(2)
            background $laranja
        &:nth-child(3)
            background $amarelo
            color #000
        &:nth-child(4)
            background $cinza
            color #000
