.servicos.box-com-scroll
    +mobile()
        display none
    position relative
    width 100%
    min-height 100%
    border-top 4px solid #fff
    .box-peq
    .box-texto-grande
        position absolute
        width 20%
        height 50%
        border-left 2px solid #fff
        border-right 2px solid #fff
        +tablet()
            width 25%
    .box-peq
        background $laranja
        background-size cover
        background-position center
        .titulo
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            text-align center
            ptsans 22
            color #fff
            opacity 1
            transition opacity .5s
            transition color .3s
            +tablet()
                ptsans 18
            h3
                font-weight normal
                margin 0
                position absolute
                top 15%
                left 0
                width 100%
                display inline-block
                text-align center
            .icone
                position absolute
                width 70px
                height 70px
                left 50%
                top 65%
                transform translate(-50%, 0)
                transition transform .3s
                background-repeat no-repeat
                background-position center
                +tablet()
                    width 50px
                    height 50px
                    background-size contain
                &.icone-1
                    background-image $img('liderando-terra-dois.png')
                &.icone-2
                    background-image $img('transformacao-cultural.png')
                &.icone-3
                    background-image $img('etica.png')
                &.icone-4
                    background-image $img('producao-edicao-cultura.png')
        &:hover .titulo
            color #000
            .icone
                transform translate(-50%, -8%)
        .texto
            display none
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background $laranja
            overflow hidden
        .texto-wrapper
            color #fff
            padding 20px
            position relative
            p
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                dosis 16
    .box-texto-grande
        background $cinza
        #texto-estatico
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            overflow hidden
            .texto-wrapper
                dosis 14
                padding 20px
                position relative
                p
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
    .box-1
        top 0
        left 0
        border-bottom 4px solid #fff
        border-left 0
        +tablet()
            height 25%
    .box-2
        height 100%
        top 0
        left 20%
        +tablet()
            left 25%
    .box-3
        bottom 0
        left 0
        border-left 0
        +tablet()
            height 25%
            bottom 50%
            border-bottom 4px solid #fff
    .box-4
        top 0
        left 40%
        border-bottom 4px solid #fff
        +tablet()
            left 50%
    .box-5
        top 0
        left 60%
        border-bottom 4px solid #fff
        +tablet()
            left 75%
            border-right 0
    .box-6
        top 0
        left 80%
        border-bottom 4px solid #fff
        border-right 0
        +tablet()
            height 25%
            left 0
            top 50%
            border-right 2px solid #fff
            border-left 0
    .box-7
        bottom 0
        left 40%
        +tablet()
            height 25%
            left 0
            border-left 0
    .box-8
        bottom 0
        left 60%
        +tablet()
            left 50%
    .box-9
        bottom 0
        left 80%
        border-right 0
        +tablet()
            left 75%

.servicos.mobile
    display none
    border-top 4px solid #fff
    +mobile()
        display block
        position relative
    .box-mobile-texto
        background $cinza
        padding 20px
        border-bottom 2px solid #fff
        p
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .box-mobile-servico
        background $laranja
        padding 20px
        color #fff
        border-top 2px solid #fff
        &.servico-borda
            border-bottom 2px solid #fff
        h3
            ptsans 22
            margin 0
        .icone
            width 50px
            height 50px
            display block
            margin-bottom 20px
            background-position center left
            background-size contain
            background-repeat no-repeat
            &.icone-1
                background-image $img('liderando-terra-dois.png')
            &.icone-2
                background-image $img('transformacao-cultural.png')
            &.icone-3
                background-image $img('etica.png')
            &.icone-4
                background-image $img('producao-edicao-cultura.png')
                background-size auto 40px
    .box-mobile-imagem
        clearfix()
        img
            display block
            width 50%
            float left
