.trabalho
    position relative
    width 100%
    min-height 100%
    border-top 4px solid #fff
    border-bottom 4px solid #fff
    background-size cover
    background-position center
    background-repeat no-repeat
    .trabalho-col
        position absolute
        display block
        width 33.33%
        height 100%
        top 0
        left 0
        border-right 2px solid #fff
        border-left 2px solid #fff
        &:first-child
            border-left 0
        &:last-child
            border-right 0
        .titulo
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            text-align center
            ptsans 28
            color #fff
            opacity 1
            transition opacity .5s
            transition color .3s
            span
                position absolute
                top 50%
                left 50%
                display inline-block
                max-width 6em
                text-align center
                transform translate(-50%, -50%)
        .texto
            display none
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background rgba(#000, .6)
            overflow hidden
        .texto-wrapper
            color #fff
            padding 20px
            position relative
            p
                margin 0
                dosis 16
        &.active
            .titulo
                opacity 0
        &:hover
            .titulo
                color $amarelo
        &:nth-child(2)
            left 33.33%
        &:nth-child(3)
            left 66.66%
    +mobile()
        position relative
        top auto
        left auto
        right auto
        bottom auto
        .trabalho-col
            position relative
            width 100%
            height 250px
            top auto
            left auto !important
            border none
            border-bottom 4px solid #fff
            &:last-child
                border-bottom 0
