header
    width 100%
    height 50px
    position fixed
    background #fff
    top 0
    left 0
    text-align center
    z-index 10000
    +mobile()
        position absolute
        height 80px
    nav
        height 100%
        +mobile()
            padding-top 8px
        span.mobile-div
            display block
            font-size 0
            +above($mobile)
                display none
        a
            dosis 15
            display inline-block
            height 100%
            margin 0 10px
            line-height 50px
            position relative
            +mobile()
                line-height 2
                height auto
                margin 0 10px
                &:after
                    display none
                &.active
                    color $laranja
            &:after
                content ''
                position absolute
                width 2px
                height 12px
                background $laranja
                top 0
                left 50%
                transform translateX(-50%)
                opacity 0
                transition opacity .3s
            &.active:after
                opacity 1
